body, html {
    font-family: 'Indie Flower', cursive;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
}

canvas {
    animation-name: appear;
    animation-duration: 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.site-container {
    cursor: default;
    user-select: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    box-shadow: inset 0px 0px 300px -100px black;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-image: radial-gradient(rgba(0,0,0, 0.15), rgba(0,0,0, 0.1), transparent, transparent);*/
    text-shadow: #333 0px 0px 2px;
    text-rendering: optimizeLegibility;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#title {
    font-size: 10vh;
    padding-right: 30vw;
}

#content {
    animation-name: appear;
    animation-duration: 2s;
    text-align: left;
    font-size: 7vh;
    margin: 2rem 0;
    max-width: 60vw;
}

#author-container {
    opacity: 0;
    animation-name: appear;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    padding-left: 30vw;
}

#author, #hyphen {
    font-size: 5vh;
}

@media (max-width: 860px) {
    #content {
        text-align: center;
        font-size: 5vh;
        max-width: 80vw;
    }

    #title {
        padding-right: 0;
    }

    #author-container {
        padding-left: 35vw;
    }
}
